:host {
  flex: 1;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  object-fit: contain;
}

.mat-card {
  padding: 0;
  overflow: hidden;
  border-radius: 8px;

  background-color: white;
  &.videoff {
    transition: opacity 250ms ease-in-out;
    opacity: 0.2;
    video {
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
  }
}

.progress {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

video {
  width: 100%;
  max-width: 100%;
}

input[type='file'] {
  // visibility: hidden;
  display: none;
}

@media (orientation: landscape) {
  .mat-card#remote video {
    height: 100%;
    object-fit: contain;
  }
}

@media (orientation: portrait) {
  .mat-card#remote video {
    height: 100%;
    object-fit: cover;
  }
}

.mat-card#remote {
  border-radius: 8px 8px 28px 8px;
  object-fit: contain;
  width: 100%;
  flex: 1;
}

.mat-card#local {
  max-width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;

  & > .mat-card-actions {
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display: flex;
    margin-bottom: 0;
    justify-content: space-evenly;
  }
}

.mat-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}