html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  border: 0;
  font-size: 100%;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
}
